.page {
    background: #f4fbfc;
    width: 80%;
    margin: 0 auto;
}

nav {
    padding: 8px 0;
}

nav a {
    padding: 8px 10px;
    background: grey;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: brown;
    color: white;
}

footer {
    background: yellow;
    font-style: italic;
    font-size: 8pt;
    text-align: center;
}

.row-form {
    padding: 5px 0;
}

.form-input {
    padding: 8px 11px;
    width: 70%;
    border-radius: 8px;
}

.form-label {

}

.button {
    width: 100px;
    padding: 5px 8px;
    border-radius: 5px;
}

.button-primary {
    background: #07aec4;
    color: white;
}
